body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
	color: #333;
}

header {
	background-color: #4CAF50;
	color: #fff;
	text-align: center;
	padding: 1em 0;
	font-size: 2.5em;
 /*Before versioning it was 1.5em */;
}

nav {
	background-color: #333;
	padding: 0.5em 0;
	text-align: center;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 0 15px;
	font-size: 1.2em;
}

section {
	max-width: 800px;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	transition: transform 0.3s ease-in-out;
}

section:hover {
	transform: scale(1.05);
}

h2 {
	color: #4CAF50;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 5px;
}

.education, .experience, .skills, .projects, .contact {
	margin-bottom: 20px;
}

.education h2, .experience h2, .skills h2, .projects h2, .contact h2 {
	border-bottom: 2px solid #4CAF50;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.skills ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.projects {
	display: flex;
	flex-wrap: wrap;
}

.project {
	width: calc(33.333% - 20px);
	margin: 10px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.project:hover {
	transform: scale(1.05);
}

.project img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	transition: transform 0.3s ease-in-out;
}

.project:hover img {
	transform: scale(1.1);
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
}

.modal-content {
	max-width: 80%;
	max-height: 80%;
	overflow: auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
}

.close {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	color: #333;
	font-size: 1.5em;
}

footer {
	background-color: #4CAF50;
	color: #fff;
	text-align: center;
	padding: 1em 0;
}

.menu-icon {
	display: none;
	font-size: 1.5em;
	cursor: pointer;
	color: #fff;
}

@media only screen and (max-width: 600px) {
	section {
		padding: 10px;
	}

	.projects {
		display: block;
	}

	.project {
		width: 100%;
		margin: 10px 0;
	}

	.project img {
		width: 100%;
	}

	nav {
		display: none;
		flex-direction: column;
		text-align: left;
	}

	nav a {
		padding: 15px;
		display: block;
	}

	.menu-icon {
		display: block;
	}
}